{% extends 'base.html.twig' %}
{% block title %}Éditer commentaire #{{ comment.id }}{% endblock %}

{% block body %}
    <h1 class="h4 mb-3">Éditer le commentaire #{{ comment.id }}</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="mt-3">
        <a class="btn btn-outline-secondary btn-sm" href="{{ path('app_comment_index') }}">↩︎ Retour</a>
        {{ include('comment/_delete_form.html.twig') }}
    </div>
{% endblock %}

